## Aggregating data

### Aggregation on a sale/day ratio
- per product
- per category
- per brand

### Aggregation on a X/month  ratio
- per product
- per category
- per brand

### Visitor behavoir

- view/cart/purchase funnel analysis (CTR, CR)


### Product view

- KPIs

### Brand view
 - KPIs

### Category view
- KPIs

In [ ]:
import pandas as pd
fld = "../Dta/original_big/"
sfx = "_red.csv"
month = "2019-Oct"



#month = "2019-Nov"
#month = "2019-Dec"
#month = "2020-Jan"
#month = "2020-Feb"
#month = "2020-Mar"
#month = "2020-Apr"



file = f"{fld}{month}{sfx}"



file
df = pd.read_csv(file)

dst_fld = '../Dta/agg/'

df.head(6)

'../../Dta/original_big/2019-Oct_red.csv'

### X per Day Aggregation
- Category
- Brand
- Product ???

In [44]:
subj = "cat_per_day_sales_"
file = f"{fld}{subj}{month}.csv"

cat_per_day_sales = df.groupby(["date", "category_id"])["price"].sum()
cat_per_day_sales.to_csv(file)
cat_per_day_sales.head()

date        category_id
2020-04-01  2053013551857008829       319.19
            2053013551865397438        26.78
            2053013551882174655     76044.71
            2053013551898951873     80439.74
            2053013551907340482    175640.90
Name: price, dtype: float64

In [45]:
subj = "brnd_per_day_sales_"
file = f"{fld}{subj}{month}.csv"

brnd_per_day_sales = df.groupby(["date", "brand"])["price"].sum()
brnd_per_day_sales.to_csv(file)
brnd_per_day_sales.head(2)

date        brand
2020-04-01  a-case     7824.81
            a-derma     323.68
Name: price, dtype: float64

In [46]:
subj = "prd_per_day_sales_"
file = f"{fld}{subj}{month}.csv"

prd_per_day_sales = df.groupby(["date", "product_id"])["price"].sum()
prd_per_day_sales.to_csv(file)
prd_per_day_sales.head(13)

date        product_id
2020-04-01  1000544          623.82
            1000978         1708.96
            1001588         5043.22
            1001618         6585.12
            1001820          308.80
            1002042          385.70
            1002062          114.41
            1002098       169233.96
            1002099          829.06
            1002100         2040.99
            1002101         1705.80
            1002225          875.20
            1002367        12775.03
Name: price, dtype: float64

### Product <-> Brand -> take it to Norm.ipynb

In [62]:
df_2 = df[['product_id', 'brand']].drop_duplicates()
file = f"normalized/prd_brand_{month}.csv"
df_2.to_csv(file, index=False)
df_2.head(2)

   product_id   brand
0     3900821    aqua
1     1307067  lenovo

In [63]:
file

'normalized/prd_brand_2019-Oct.csv'