## Look at aggregated data

In [7]:
import pandas as pd
fld = '../Dta/agg/'
sfx =".csv"

## Brand per Day

In [ ]:
subj = "brnd_per_day_sales_all"
fn = f"{fld}{subj}{sfx}"

df = pd.read_csv(fn)

#print(f"{fn} written")

df.head(16)
#df.dtypes

date      object
brand     object
price    float64
dtype: object

### cat per day

In [12]:
subj = "cat_per_day_sales_all"
fn = f"{fld}{subj}{sfx}"

df = pd.read_csv(fn)

#print(f"{fn} written")

df.head(16)

          date          category_id      price
0   2019-10-01  2053013552226107603    4647.93
1   2019-10-01  2053013552293216471  443570.30
2   2019-10-01  2053013552326770905  488464.77
3   2019-10-01  2053013552351936731  537670.50
4   2019-10-01  2053013552502931683   17242.72
5   2019-10-01  2053013552570040549  277195.06
6   2019-10-01  2053013552603594983   93082.43
7   2019-10-01  2053013552637149417    3963.60
8   2019-10-01  2053013552695869677  131087.33
9   2019-10-01  2053013552737812719    5018.36
10  2019-10-01  2053013552888807671   62688.71
11  2019-10-01  2053013552913973497   64471.18
12  2019-10-01  2053013552955916539  743034.59
13  2019-10-01  2053013553031414015  730068.37
14  2019-10-01  2053013553056579841  328942.91
15  2019-10-01  2053013553090134275   27041.51