## Sanitizing


- We want to reduce file sizes as much as possible, after normalizing (partz of original)
    - DROP unneded colz

In [1]:
import pandas as pd

#month = "2019-Oct"
#month = "2019-Nov"
#month = "2019-Dec"
#month = "2020-Jan"
#month = "2020-Feb"
#month = "2020-Mar"
month = "2020-Apr"
fld = "../Dta/original_big/"
sfx = "_red.csv"
san = "_san.csv"

file = f"{fld}{month}{sfx}"
file_san = f"{fld}{month}{san}"


file
df = pd.read_csv(file)

dst_fld = '../Dta/agg/'

df.head(6)

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date
0,0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851,2020-04-01
1,1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6,2020-04-01
2,2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e,2020-04-01
3,3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8,2020-04-01
4,4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc,2020-04-01
5,5,2020-04-01 00:00:03 UTC,view,100068493,2232732093077520756,construction.tools.light,samsung,319.41,635165435,861f2378-076f-4ddd-85e3-9844923d03a9,2020-04-01

### Save only needed colz after norm

In [2]:
df["evt"] = df["event_type"].str[:1]
df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date,evt
0,0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851,2020-04-01,v
1,1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6,2020-04-01,v
2,2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e,2020-04-01,v
3,3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8,2020-04-01,v
4,4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc,2020-04-01,v

In [6]:
df["evt"].unique()

array(['v', 'p', 'c'], dtype=object)

In [26]:
df.columns

Index(['Unnamed: 0', 'event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session', 'date',
       'evt'],
      dtype='object')

In [3]:
# temp save for comparison
# We are **not** interested, if user was logged in -> only anonymous sessions!!
san = "_san.csv"
file_san = f"{fld}{month}{san}"
print(file_san)

df[
    ["date", "evt", "product_id", "category_id", "brand", "price", "user_session"]
].to_csv(file_san)

../Dta/original_big/2020-Apr_san.csv

In [4]:
df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date,evt
0,0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851,2020-04-01,v
1,1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6,2020-04-01,v
2,2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e,2020-04-01,v
3,3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8,2020-04-01,v
4,4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc,2020-04-01,v