## Sanitizing

In [1]:
import pandas as pd

#month = "2019-Oct"
#month = "2019-Nov"
#month = "2019-Dec"
month = "2020-Jan"
#month = "2020-Feb"
#month = "2020-Mar"
#month = "2020-Apr"

df = pd.read_csv(f"{month}.csv")

fld = 'agg/'

df.head(8)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-01-01 00:00:00 UTC,view,1005073,2232732093077520756,construction.tools.light,samsung,1130.02,519698804,69b5d72f-fd6e-4fed-aa23-1286b2ca89a0
1,2020-01-01 00:00:01 UTC,view,1005192,2232732093077520756,construction.tools.light,meizu,205.67,527767423,7f596032-ccbf-4643-9bad-e36a209512b4
2,2020-01-01 00:00:01 UTC,view,100063693,2053013552427434207,apparel.shirt,turtle,136.43,519046195,d1e2f343-84bb-49bd-b13d-ca0f1ed9910e
3,2020-01-01 00:00:01 UTC,view,5100816,2232732103831716449,apparel.shoes,xiaomi,29.95,518269232,0444841c-38ef-410c-b11f-7b35ea4e5991
4,2020-01-01 00:00:02 UTC,view,100014325,2232732103294845523,apparel.shoes.step_ins,intel,167.20,587748686,31b7d4cf-dfac-4895-9927-90fa3254f860
5,2020-01-01 00:00:02 UTC,view,16500026,2232732108713886406,apparel.costume,gamma,37.35,581037554,c161400e-630b-4b59-8797-d9b9714444bf
6,2020-01-01 00:00:02 UTC,view,1802026,2232732099754852875,appliances.personal.massager,samsung,576.33,581274910,44ca9bc7-3ba8-4546-bdf5-10b2172ed883
7,2020-01-01 00:00:02 UTC,view,11600004,2053013554834964853,appliances.kitchen.kettle,sven,43.48,595265136,32c08a07-f2d0-4da5-83fd-40ce97c651e6

###  Datetime to date and NA

- ```event_time``` to ```date```
- drop na

In [2]:
df['date'] = pd.to_datetime(df['event_time'].str[0:10])
b4drop = len(df)
[df.dtypes, b4drop]
#df.columns

[event_time               object
 event_type               object
 product_id                int64
 category_id               int64
 category_code            object
 brand                    object
 price                   float64
 user_id                   int64
 user_session             object
 date             datetime64[ns]
 dtype: object,
 55967041]

In [3]:
df.dropna(inplace=True)
print(len(df))
df[['date', 'event_type', 'product_id', 'category_id', 'brand', 'price', 'user_id', 'user_session', ]].to_csv(f"san_{month}.csv", index=False)
df.head(),

45321711

(                event_time event_type  product_id          category_id  \
 0  2020-01-01 00:00:00 UTC       view     1005073  2232732093077520756
 1  2020-01-01 00:00:01 UTC       view     1005192  2232732093077520756
 2  2020-01-01 00:00:01 UTC       view   100063693  2053013552427434207
 3  2020-01-01 00:00:01 UTC       view     5100816  2232732103831716449
 4  2020-01-01 00:00:02 UTC       view   100014325  2232732103294845523

               category_code    brand    price    user_id  \
 0  construction.tools.light  samsung  1130.02  519698804
 1  construction.tools.light    meizu   205.67  527767423
 2             apparel.shirt   turtle   136.43  519046195
 3             apparel.shoes   xiaomi    29.95  518269232
 4    apparel.shoes.step_ins    intel   167.20  587748686

                            user_session       date
 0  69b5d72f-fd6e-4fed-aa23-1286b2ca89a0 2020-01-01
 1  7f596032-ccbf-4643-9bad-e36a209512b4 2020-01-01
 2  d1e2f343-84bb-49bd-b13d-ca0f1ed9910e 2020-01-01
 3  0444841c-38ef-410c-b11f-7b35ea4e5991 2020-01-01
 4  31b7d4cf-dfac-4895-9927-90fa3254f860 2020-01-01  ,)