# Eda

## First Look

In [ ]:
import pandas as pd
import numpy as np

fld = "../../Dta/Big/"

month = "2019-Nov"
# month = "2019-Oct"
# month = "2019-Dec"

# month = "2020-Jan"
# month = "2020-feb"
# month = "2020-Mar"
# month = "2020-Apr"

In [17]:
df = pd.read_csv("../../Dta/Big/2019-Oct_part.csv")
df_2 = df[['category_id', 'category_code']]
df_2.to_csv(f"{fld}catz.csv", index=False)

## Sanitizing 

- ```event_time``` to ```date```
- drop na

In [7]:
df['date'] = pd.to_datetime(df['event_time'].str[0:10])
len(df)
df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session', 'date'],
      dtype='object')

In [9]:
df.dropna(inplace=True)
len(df)
df[['date', 'event_type', 'product_id', 'category_id', 'brand', 'price', 'user_id', 'user_session', ]].to_csv("../../Dta/Big/tmp.csv", index=False)
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date
0,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770940,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,2019-10-01
1,2019-10-01 00:00:11 UTC,view,1004545,2053013555631882750,electronics.smartphone,huawei,566.01,537918940,406c46ed-90a4-4787-a43b-59a410c1a5fb,2019-10-01
2,2019-10-01 00:00:20 UTC,view,4803399,2053013554658803970,electronics.audio.headphone,jbl,33.21,555428858,8a6afed4-77f8-40c9-8e76-e062b28216ce,2019-10-01
4,2019-10-01 00:00:33 UTC,view,28717908,2053013565782098940,apparel.shoes,burgerschuhe,102.45,513798668,2034798f-43f2-8bcb-b169-c5f04a7a5a4f,2019-10-01
5,2019-10-01 00:00:37 UTC,view,1701111,2053013553031414020,computers.peripherals.monitor,acer,514.79,547028884,3ea7c620-a8d7-45c5-9ced-2e9874e2f549,2019-10-01

## Working with temp for further exploration

In [10]:
df = pd.read_csv("../../Dta/Big/tmp.csv")
df.head()

,date,event_type,product_id,category_id,brand,price,user_id,user_session
0,2019-10-01,view,3900821,2053013552326770940,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
1,2019-10-01,view,1004545,2053013555631882750,huawei,566.01,537918940,406c46ed-90a4-4787-a43b-59a410c1a5fb
2,2019-10-01,view,4803399,2053013554658803970,jbl,33.21,555428858,8a6afed4-77f8-40c9-8e76-e062b28216ce
3,2019-10-01,view,28717908,2053013565782098940,burgerschuhe,102.45,513798668,2034798f-43f2-8bcb-b169-c5f04a7a5a4f
4,2019-10-01,view,1701111,2053013553031414020,acer,514.79,547028884,3ea7c620-a8d7-45c5-9ced-2e9874e2f549

In [13]:
# unique brands
brands = df["brand"].unique()
catz = df["category_id"].unique()
len(catz)

246