# SBA

## EDA

### Normalize data



- Extracting (redundant) information from sources as you would do in <var>RDBMS</var> context
    - Reducing file sizes
    - Allowing to build a sanitized Relational model in <var>SQL</var>
    - Allowing quicker access to attribute values (columns) in <var>GUI</var>

## Snippets to be included in up coming data sanitize/normalize pipeline

In [1]:
import pandas as pd

#month = "2019-Oct"
#month = "2019-Nov"
#month = "2019-Dec"
# month = "2020-Jan"
month = "2020-Feb"
# month = "2020-Mar"
# month = "2020-Apr"

fld = "Dta/Big/"
#df = pd.read_csv(f"{fld}{month}.csv")

### Extraction of category data

- fetching id and code from data
- dropping duplicates

In [ ]:
df_2 = df[['category_id', 'category_code']].drop_duplicates()
df_2.dropna(inplace=True)
df_2.to_csv(f"normalized/catz_{month}.csv", index=False)
df_2.head(8)

### Extraction of brand data


- dropping duplicates

In [ ]:
df_3 = pd.DataFrame({"brand_name": df['brand'].unique()})
df_3.dropna(inplace=True)
df_3.to_csv(f"normalized/brnd_{month}.csv", index=False)
df_3.head(3)

### Combining parts to one file for brands and catz

```shell
cd Dta/normalized
sort -u catz_2019-Nov.csv > catz_2019-Nov_u.csv
cat catz* | sort -u > catz_all.csv
```

In [ ]:
sort -u catz_2019-Nov.csv > catz_2019-Nov_u.csv

### Examine normalized data

In [8]:
#brands = pd.read_csv(f"../../Dta/normalized/brandz.csv")

#brands = pd.read_csv("../../Dta/normalized/brnd_idx.csv")
#brands["id"] = brands["rowid"] + 999
# brands['id'] = brands['id'] -61
#brands[brands['brand_name']=="apple"]
brands[["id", "brand_name"]].to_csv("../../Dta/normalized/brandz.csv", index=False)
print(len(brands))
brands.head(8)

6353

   rowid brand_name    id
0      0     a-case   999
1      1    a-derma  1000
2      2    a-elita  1001
3      3     a-mega  1002
4      4  a-product  1003
5      5     a-toys  1004
6      6   aardwolf  1005
7      7  abaybooks  1006

In [17]:
brands.head(23)

    rowid        brand_name    id
0       0            a-case  1599
1       1           a-derma  1600
2       2           a-elita  1601
3       3            a-mega  1602
4       4         a-product  1603
5       5            a-toys  1604
6       6          aardwolf  1605
7       7         abaybooks  1606
8       8               abc  1607
9       9            abhika  1608
10     10               abk  1609
11     11             abris  1610
12     12  absolutechampion  1611
13     13   absolutenewyork  1612
14     14            abtoys  1613
15     15         abugarcia  1614
16     16                ac  1615
17     17          academie  1616
18     18             acana  1617
19     19             acase  1618
20     20         accademia  1619
21     21        accesstyle  1620
22     22           accoona  1621

In [18]:
catz= pd.read_csv(f"../../Dta/normalized/catz_all.csv")
catz.head(33)

            category_id                           category_code
0   2053013551857008829                           apparel.shoes
1   2053013551865397438                           sport.trainer
2   2053013551882174655              construction.tools.welding
3   2053013551890563264                               sport.ski
4   2053013551898951873                construction.tools.light
5   2053013551907340482                               sport.ski
6   2053013551924117699                               sport.ski
7   2053013551932506308                construction.tools.drill
8   2053013551940894917                       computers.desktop
9   2053013551966060743                           kids.carriage
10  2053013552058335434         appliances.kitchen.meat_grinder
11  2053013552125444301           appliances.environment.vacuum
12  2053013552167387343          appliances.environment.climate
13  2053013552226107603              appliances.environment.fan
14  2053013552259662037       computers.components.power_supply
15  2053013552293216471       appliances.environment.air_heater
16  2053013552326770905     appliances.environment.water_heater
17  2053013552351936731  appliances.environment.air_conditioner
18  2053013552385491165               appliances.sewing_machine
19  2053013552427434207                           apparel.shirt
20  2053013552452600032              appliances.personal.scales
21  2053013552469377249                           apparel.jeans
22  2053013552502931683            computers.peripherals.camera
23  2053013552570040549             electronics.video.projector
24  2053013552603594983                    electronics.video.tv
25  2053013552637149417             computers.peripherals.mouse
26  2053013552662315243                   apparel.shoes.slipons
27  2053013552695869677                      electronics.tablet
28  2053013552737812719                     stationery.cartrige
29  2053013552788144369             auto.accessories.parktronic
30  2053013552821698803             computers.peripherals.mouse
31  2053013552863641845              appliances.environment.fan
32  2053013552888807671             computers.peripherals.mouse

### Building SQL based structure

- Generating tables and indices
- Importing data to Database(s)