# Eda

## First Look

In [3]:
import pandas as pd
import numpy as np

fld = "../../Dta/original_big/"

# month = "2019-Nov"
# month = "2019-Oct"
# month = "2019-Dec"
 
#month = "2020-Jan"
#month = "2020-feb"
#month = "2020-Mar"
month = "2020-Apr"
print(month)

2020-Apr

In [4]:
df = pd.read_csv(f"{fld}{month}.csv")

#df_2 = df[['category_id', 'category_code']]
#df_2.to_csv(f"{fld}catz.csv", index=False)
print(month)
df.head()

2020-Apr

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851
1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6
2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e
3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8
4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc

Extracting dta for normalizing

## Sanitizing 

- ```event_time``` to ```date```
- drop na

In [5]:
print(month)
df['date'] = pd.to_datetime(df['event_time'].str[0:10])
len(df)
df.columns

2020-Apr

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session', 'date'],
      dtype='object')

In [6]:
old =  len(df)
old

66589268

In [7]:
print(month)
df.dropna(inplace=True)
new = len(df)
# df[['date', 'event_type', 'product_id', 'category_id', 'brand', 'price', 'user_id', 'user_session', ]].to_csv("../../Dta/Big/tmp.csv", index=False)
# df.head()
new

2020-Apr

52218529

In [8]:

rtio = round(new/old,2)
print(f"Reduced to {rtio*100}%")

Reduced to 78.0%

## Saving with temp for further exploration

In [9]:
df.to_csv(f"{fld}{month}_red.csv")
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date
0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851,2020-04-01
1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6,2020-04-01
2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e,2020-04-01
3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8,2020-04-01
4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc,2020-04-01

In [13]:
# unique brands
brands = df["brand"].unique()
catz = df["category_id"].unique()
len(catz)

246